* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  height: 600px;
  width: 600px;
  justify-content: center;
}

.grid div {
  border: 1px solid lightgrey;
  height: 100%;
  width: 100%;
  font-size: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pika {
  background-image: url('/Users/nickhme/development/project-1/assets/skeleton-sprite.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
